form {
    --altura: 30px

    margin: 0 auto;
    gap: 10px;
    display: flex;
    justify-content: center;
    width: 500px;
    flex-direction: column;

    & button {
        width: 200px;
        margin: 0 auto;
        padding:5px;
        height: var(--altura);
    }

    & input {
        height: 30px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid skyblue;
    }
}